<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<hibernate-configuration>

	<session-factory>
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="connection.url">
			<![CDATA[
			jdbc:mysql://222.29.197.238:3306/EventTeller?useUnicode=true&characterEncoding=utf8
			]]>
		</property>
		<property name="connection.username">dbdm</property>
		<property name="connection.password">mysql@ET453</property>
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="hibernate.show_sql">false</property>
		<mapping resource="db/hbn/model/Url.hbm.xml" />
		<mapping resource="db/hbn/model/Event.hbm.xml" />
		<mapping resource="db/hbn/model/AER.hbm.xml" />
		<mapping resource="db/hbn/model/EventStatus.hbm.xml" />
	</session-factory>

</hibernate-configuration>